<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyprojectFinal"
        tools:targetApi="31">
        <activity
            android:name=".Homedetails.AwarenessDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Homedetails.NewsDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Databases.DatabasePhysicianActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorDetails.AnotherActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorDetails.BookingDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Databases.BookingDatabaseMalaria"
            android:exported="false" />
        <activity
            android:name=".Databases.BookDatabaseHelper1"
            android:exported="false"
            android:label="@string/title_activity_book_database_helper1"
            android:theme="@style/Theme.MyprojectFinal" />
        <activity
            android:name=".Databases.DoctorDatabaseHelper1Activity"
            android:exported="false" />
        <activity
            android:name=".DoctorDetails.SegionActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorDetails.HIVTreatmentActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorDetails.MalariaActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorDetails.DieticianActivity"
            android:exported="false" />
        <activity
            android:name=".BuyMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorDetails.PhysicianActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorDetails.Physician"
            android:exported="false" />
        <activity
            android:name=".DoctorDetails.FindDoctor"
            android:exported="false" />
        <activity
            android:name=".DoctorDetails.Doctor"
            android:exported="false" />
        <activity
            android:name=".Databases.DoctorDatabaseHelper"
            android:exported="false" />
        <activity
            android:name=".SubmissionActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorDetails.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorDetails.BookDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".Homedetails.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".NavigationView"
            android:exported="false" />
        <activity
            android:name=".DertalActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".EyeInfectionsActivity"
            android:exported="false" />
        <activity
            android:name=".Homedetails.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".LabTestActivity"
            android:exported="false" />
        <activity
            android:name=".Validation.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Validation.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>